<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>게시글</title>
</head>
<body>

<div data-th-replace="header :: header"></div>

<h1>게시글</h1>

<p data-th-unless="${article}">해당 번호의 게시글이 없습니다!</p>

<form data-th-if="${article}" data-th-action="@{/article/commit/(currentPage=${currentPage})}" method='post'
      enctype='multipart/form-data'>
    <table border='1'>

        <tr><th>현재가격</th><td data-th-text="${article.curPrice}">-현재가격-</td></tr>

        <tr><th>입찰가격</th> <input type="text" name="bidPrice" value="0"></tr>

    </table>
    </div>

    <div>
        <button>변경</button>
        <button type='reset'>초기화</button>
        <a data-th-href="@{/article/list(status=${article.status},currentPage=${currentPage})}">목록</a>
    </div>

</form>

<div data-th-replace="footer :: footer"></div>

</body>
</html>