<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <title>환전 게시판 입력 폼</title>
</head>
<body data-th-attr="data-user-points=${loginUser.point}">
<div data-th-replace="header :: header"></div>

<form th:action="@{/exchange/add}" method='post' onsubmit="return validateForm();">

    <label for="name">이름:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="accountNumber">계좌번호:</label><br>
    <input type="text" id="accountNumber" name="accountNumber" required><br><br>

    <label for="bank">은행:</label><br>
    <select id="bank" name="bank">
        <option value="선택">선택</option>
        <option value="카카오뱅크">카카오뱅크 (12자리)</option>
        <option value="신한">신한 (12자리)</option>
        <option value="NH농협">NH농협 (13자리)</option>
        <option value="하나">하나 (13자리)</option>
        <option value="우리">우리 (13자리)</option>
        <option value="KB국민">KB국민 (14자리)</option>
    </select><br><br>


    <div style="display: flex; align-items: center;">
        <label for="exchangePoint" style="text-align: left;">환전할 금액 :</label>

        <span style="color: blue; font-size: 15px; margin-left: auto;" id="userPoints"
              data-th-text="'보유포인트 : ' + ${session.loginUser.point} + '원'"></span>

    </div>
    <input type="text" id="exchangePoint" name="exchangePoint" required><br>
    <input type="hidden" id="userPointsValue" th:value="${loginUser.point}" data-user-points="${loginUser.point}" />
    <input type="hidden" id="content" name="content">
    <input type="submit" value="제출">
</form>

<div data-th-replace="footer :: footer"></div>


<script src="/js/form.js" defer></script>
</body>
</html>