<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>환전 요청 게시판</title>
    <link rel="stylesheet" th:href="@{/css/list.css}" />
</head>
<body>
<div data-th-replace="header :: header"></div>
<div th:if="${error == 'unauthorized'}">
    <script>
        alert("권한이 없습니다.");
    </script>
</div>

<!-- 현재 로그인한 사용자의 ID를 가져옴 -->
<div th:with="currentUserId=${session.loginUser.no}" style="display:none;"></div>

<!-- 페이지 컨테이너 -->
<div class="page-container">
    <!-- 게시판 -->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th> <!-- 작성일 열을 먼저 배치 -->
            <th>작성자</th> <!-- 작성자 열을 그 다음에 배치 -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchange : ${list}">
            <td th:text="${exchange.no}">100</td>
            <td>
                <a th:href="@{/exchange/detail/{exchangeNo}(exchangeNo=${exchange.no})}"
                   th:text="${exchange.title} ?: '제목없음'">홍길동님 환전요청</a>
                <!-- 본인의 글이 아닐 경우에만 자물쇠 아이콘을 출력 -->
                <span th:if="${exchange.user.no != currentUserId}">&#x1F512;</span>
            </td>
            <td th:text="${#dates.format(exchange.createdDate, 'yyyy-MM-dd')}">2021-09-14</td>
            <td th:text="${exchange.user.name}">홍길동</td>
        </tr>
        </tbody>
    </table>

    <!-- 환전 요청 버튼 컨테이너 -->
    <div class="request-button-container">
        <!-- 환전 요청 버튼 -->
        <a th:href="@{/exchange/form}" class="request-button">환전 요청</a>
    </div>
</div>
<div data-th-replace="footer :: footer"></div>
</body>
</html>