<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>비트캠프</title>
</head>
<body>
<div data-th-fragment="header" style='height:50px;background-color:LightGreen;'>
    <img src='https://www.ncloud.com/public/img/logo-m.png' style='height:40px'>
    <a href='/user/list'>회원</a>
    <a href='/announcement/list?currentPage=1'>공지사항</a>
    <a href='/article/list?status=expected&currentPage=1'>예정</a>
    <a href='/article/list?status=progress&currentPage=1'>진행</a>
    <a href='/article/list?status=end&currentPage=1'>종료</a>

    <a data-th-if="${session.loginUser == null}" href='/auth/form'>로그인</a>
    <div style="display:inline;" data-th-if="${session.loginUser != null}">
        <img data-th-if="${session.loginUser.profilePhoto == null}" style='height:40px' src='/images/avatar.png'>
        <img data-th-if="${session.loginUser.profilePhoto != null}"
             data-th-src="${'http://tyasnlztlptw19619311.cdn.ntruss.com/member/' + session.loginUser.profilePhoto + '?type=f&w=30&h=40&faceopt=true&ttype=jpg'}">
        <span data-th-text="'&quot;' + ${session.loginUser.name} + '&quot;님,'"></span>

        <a data-th-href="@{/chargePoint}" data-th-text="'보유포인트 : ' + ${session.loginUser.point}" href="#">보유포인트</a>
        <a href='/auth/logout'>로그아웃</a>
    </div>
</div>
</body>
</html>